// Run Directory Path
params.run_dir_path = ""

// Global Configuration
env.alpha = ""
env.tmp_dir = ""
env.fastqc_path = ""
env.archive_path=""

// modules
env.PICARD_MODULE = "picard/2.23.8"
env.PYTHON_MODULE = "interop/python3.6/1.1.4"
env.PHENIQS_MODULE = "pheniqs/1.1.0"
env.JDK_MODULE = "jdk/1.8.0_271"

// nextflow work dir
workDir = ""

// email settings
mail {
    smtp.user = ""
    smtp.password = ""
    smtp.host = "smtp.gmail.com"
    smtp.port = 587
    smtp.starttls.enable = true
}

// enable conda
conda.enabled = true

// Slurm settings
process {
    executor = 'slurm'
    clusterOptions = '--export=NONE'
    cpus = { 6 * task.attempt }
    memory = { 20.GB * task.attempt }
    time = { 2.h * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 3
}
